.alerts {
    position: fixed;
    width: 500px;
    bottom: 15px;
    right: 15px;
}

#page-top select.print-form {
    color: black;
 }

.print-form {
    color: black !important;
    display: none !important;
}

.print-form * {
    color: black !important;
}


.print-form .form{
    width: 210mm;
}

.print-form .form .n{
    height: 148mm;
    background-color: antiquewhite;
}


@media print {
    .no-print {
        display: none !important;
    }

    .print-form {
        display: block !important;
    }
}