.alerts {
    position: fixed;
    max-width: 500px;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 15px;
}

#images2 a img {
    max-height: 200px;
}

button.pswp__button--test-button {
    font-size: 20px;
    color: #fff;
}

#page-top select.print-form {
    color: black;
}

.print-form {
    color: black !important;
    display: none !important;
}

.print-form * {
    color: black !important;
}


.print-form .form {
    width: 210mm;
}

.print-form .form .n {
    height: 148mm;
    background-color: antiquewhite;
}


@media print {
    .no-print {
        display: none !important;
    }

    .print-form {
        display: block !important;
    }
}

.hover:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.sbf-onay {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 75px;
    right: 15px;
    border-radius: 25px;
}

#loading {
    position: fixed;
    z-index: 9999999;
    background-color: rgba(240, 248, 255, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 100vh;
    text-align: center;
    color: black;
    display: none;
}

.loading {
    display: block !important;
}