body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
    font-size: 10pt !important;
}

.container-form {
    width: 210mm;
}

.page {
    width: 210mm;
    height: 297mm;
    float: left;
}

.kontrol{
    bottom: 20px;
    left: 40px;
    right: 40px;
    position: absolute;
}

.kutu {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.nusha {
    position: relative;
    padding: 8mm;
    min-height: 148mm;
    max-height: 297mm;
}

.pb {
    padding-bottom: 115px;
} 

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}