<div class="mx-md-4">
    <h4><%- title %></h4>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="form-group">
                        <label for="dia">Halat Çapı</label>
                        <input type="number" class="form-control" id="dia">
                    </div>
                    <div class="form-group">
                        <label for="makara_cap" style="color: green;">(A) Makara Çapı <i class="fa-regular fa-lightbulb fa-fw" data-toggle="modal" data-target="#modalInfo"></i> </label>
                        <input type="number" class="form-control" id="makara_cap">
                    </div>
                    <div class="form-group">
                        <label for="derinlik" style="color: red;">(B) Yanak Derinliği<i class="fa-regular fa-lightbulb fa-fw" data-toggle="modal" data-target="#modalInfo"></i></label>
                        <input type="number" class="form-control" id="derinlik">
                    </div>
                    <div class="form-group">
                        <label for="aralik" style="color: blue;">(C) Yanak Aralığı<i class="fa-regular fa-lightbulb fa-fw" data-toggle="modal" data-target="#modalInfo"></i></label>
                        <input type="number" class="form-control" id="aralik">
                    </div>
                    <button class="btn btn-primary" onclick="Start()">Hesapla</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <img src="/public/images/makara.png" style="width: 100%;" alt="" srcset="">
        </div>
    </div>
</div>