<div class="card">
    <div class="card-body">
        <h4><%- title %></h4>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <td>MÜŞTERİ</td>
                <td>ÜRÜN</td>
                <td>MİKTAR</td>
                <td></td>
            </thead>
            <tbody id="list"></tbody>
        </table>
    </div>
</div>