<div class="row">
	<div class="col-6">
		<div class="input-group mb-3">
			<input type="text" class="form-control" id="txtCode">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" onclick="addCode()">Ekle</button>
			</div>
		</div>
		<button class="btn mb-2 btn-outline-secondary" type="button" onclick="print()">Yazdır</button>
		<h5>Şecili QRCode'lar</h5>
		<div id="codes"></div>
	</div>
</div>
