<div class="card shadow-sm">
	<div class="card-body">
		<table class="table table-sm">
			<thead>
				<th style="width : 40px;">Seçim</th>
				<th style="width : 80px;">ID</th>
				<th>Ürün</th>
				<th>Miktar</th>
			</thead>
			<tbody id="tblList"></tbody>
		</table>
		<p><small><span id="lblInfo"></span></small></p>
	</div>
</div>