<div class="row pb-2 d-flex align-items-stretch" style="height: calc( 50vh - 86px );">
    <div class="col d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">Son Gelen Siparişler</h5>
                <div id="sonGelenSiparisler" style="overflow-y:auto; overflow-x: hidden; max-height: calc( 50vh - 200px );">

                </div>
                <a href="#" class="card-link">Tümünü Gör</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Çıkış Bekleyen</h5>
                <div id="cikisBekleyen" style="overflow-y:auto; overflow-x: hidden; height: calc( 50vh - 200px );">

                </div>
                <a href="/CikisBekleyen" class="card-link">Tümünü Gör</a>
            </div>
        </div>
    </div>
</div>
<div class="row pt-2 d-flex align-items-stretch" style="height: calc( 50vh - 86px );">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Giriş Bekleyenler</h5>
                <div id="girisBekleyen" style="overflow-y:auto; overflow-x: hidden; height: calc( 50vh - 200px );">

                </div>
                <a href="#" class="card-link">Tümünü Gör</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sevke Hazır </h5>
                <div id="sevkeHazir" style="overflow-y:auto; overflow-x: hidden; height: calc( 50vh - 200px );">

                </div>
                <a href="/SevkeHazir" class="card-link">Tümünü Gör</a>
            </div>
        </div>
    </div>
</div>