<div class="container-fluid text-dark" id="HtmlForm">
    <div class="row">
        <div class="col-12 d-lg-block col-lg-8">
            <h3 class="h3"><span><img src="/public/images/dipendo.png" id="goDipendo" style="cursor: pointer; width: 20px; height: 20px; margin-top: -6px;"></span><span id="htmlCustomer"></span></h3>
        </div>
        <div class="d-none d-lg-block col-lg-4">
            <a class="btn btn-outline-danger float-right ml-2" style="float: right;" href="#" onclick="window.close()"
                role="button">
                <i class="fa-solid fa-fw fa-xl fa-xmark"></i>
            </a>
            <button class="btn btn-outline-success float-right" id="print">
                <i class="fa-solid fa-fw fa-xl fa-print"></i>
            </button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6" style="text-align: right; position: absolute; right: 0;">
                    <small class="float-right d-block" id="htmlUser"></small>
                </div>
            </div>

            <h6 class="mb-2" id="htmlSendDate"></h6>
            <h6 class="mb-2" id="htmlSaleCode"></h6>
            <p id="htmlExplanation"></p>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <div class="row h6 fw-bolder">
                <div class="col-12 col-sm-8 col-lg-5">ÜRÜN</div>
                <div class="d-none d-lg-block col-lg-2">KİMLİK</div>
                <div class="d-none d-lg-block col-lg-2">AĞIRLIK</div>
                <div class="d-none d-lg-block col-lg-1">MİKTAR</div>
                <div class="d-none d-sm-block col-sm-4 col-lg-2">İŞLEM</div>
            </div>
            <div id="htmlProducts"></div>
        </div>
    </div>
    <div class="card p-2 mt-2">
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-outline-success mx-1" onclick="allStatus(3)">Tümünü Gönder</button>
            <button type="button" class="btn btn-outline-info mx-1" onclick="allStatus(2)">Tümünü Hazırla</button>
        </div>
    </div>
    <div class="alerts"></div>
</div>