<div class="card mt-3">
	<div class="card-body">
		<div class="row">
			<div class="col">
				<h4 class="card-title fw-semibold" id="customerTitle"></h4>
			</div>
			<div class="col text-end">
				<h6 class="card-subtitle mb-2 text-muted"><small id="userAndDate"></small></h6>
			</div>
		</div>
		<h6 class="card-subtitle mb-2 text-muted"><span class="fw-bolder">Sevk Tarihi :</span> <span
				id="deliveryTime"></span></h6>
		<label for="explanation" class="fw-bolder">Açıklama</label>
		<p class="card-text" id="explanation"></p>
		<table class="table table-hover table-sm">
			<thead>
				<tr>
					<th class="col-1"></th>
					<th class="col-6">ÜRÜN</th>
					<th class="col-2">KİMLİK</th>
					<th class="col-2">MİKTAR</th>
					<th class="col-1"></th>
				</tr>
			</thead>
			<tbody id="tblProducts"></tbody>
		</table>
	</div>
</div>