<div class="card shadow-sm">
	<div class="card-body">
		<form>
			<div class="row mt-2">
				<div class="col-8"></div>
				<div class="col-6 col-xl-2">
					<input type="search" id="txtSearch" class="form-control" placeholder="Ara" aria-label="Ara">
				</div>
				<div class="col-6 col-xl-2">
					<input type="text" class="form-control" name="daterange" />
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col">
				<table class="table table-hover mt-2">
					<thead>
						<tr>
							<th class="col-8">MÜŞTERİ</th>
							<th class="col-2">TARİH</th>
							<th class="col-1">SEVK</th>
							<th class="col-1">DETAY</th>
						</tr>
					</thead>
					<tbody id="list"></tbody>
				</table>
				<p style="font-weight: lighter; font-style: italic;" id="listCount"></p>
			</div>
		</div>
	</div>
</div>