<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hoşgeldin! | ÇelsanApp</title>

    <!-- Custom fonts for this template-->
    <link href="public/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/template/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6 py-5">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Hoşgeldin!</h1>
                                    </div>
                                    <form class="user" id="form">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="inpEmail" placeholder="Email Adresinizi Giriniz">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="inpPass" placeholder="Şifrenizi Giriniz">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="remember">
                                                <label class="custom-control-label" for="remember">Beni Hatırla</label>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block">
                                            Giriş Yap
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <script src="public/template/vendor/jquery/jquery.min.js"></script>
    <script src="public/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            if (localStorage.getItem('remember') == 'true') {
                $('#remember').prop('checked', true)
                $('#inpEmail').val(localStorage.getItem('mail'))
                $('#inpPass').val(localStorage.getItem('pass'))
            }
        })

        $('#form').submit(function (evt) {
            evt.preventDefault();
            $.ajax({
                type: "POST",
                async: false,
                url: 'https://app.dipendo.com/oauth/token',
                data: { "username": $('#inpEmail').val(), "password": $('#inpPass').val(), "grant_type": "password", "client_id": "DipendoWeb" },
                success: response => {
                    localStorage.setItem('token', response.token_type + ' ' + response.access_token);
                    if ($('#remember').prop('checked')) {
                        localStorage.setItem('remember', true)
                        localStorage.setItem('mail', $('#inpEmail').val())
                        localStorage.setItem('pass', $('#inpPass').val())
                    } else {
                        localStorage.setItem('remember', false)
                        localStorage.removeItem('mail')
                        localStorage.removeItem('pass')
                    }
                    location.assign('./')
                },
                error: err => {
                    alert('Giriş yapılamadı daha sonra tekrar deneyin')
                    console.log(err);
                }
            })
        });

    </script>
</body>

</html>