<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Codes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: "Open Sans", sans-serif;
        }

        .conteiner {
            width: 210mm;
        }

        .a4 {
            padding-top: 6mm;
            padding-bottom: 6mm;
            box-sizing: border-box;
            width: 210mm;
            height: 297mm;
            border-bottom: 1px solid purple;
            float: left;
            page-break-inside: avoid;
        }

        .row {
            font-size: 13pt;
            width: 100%;
            box-sizing: border-box;
            padding-top: 4mm;
            padding-bottom: 4mm;
            padding-left: 17mm;
            border-bottom: 1px solid grey;
            page-break-inside: avoid;
            float: left;
        }

        .row:first-child {
            border-top: 1px solid grey;
        }

        .row>span:first-child {
            margin-top: 0mm !important;
        }

        span {
            display: block;
            width: 100%;
        }

        .qr {
            width: 27mm;
            height: 27mm;
            float: left;
        }

        .atr {
            padding-left: 10mm;
            width: 143mm;
            height: 27mm;
            float: left;
            line-height: 25px;
            font-size: 14pt;
        }

        .bold {
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="conteiner"></div>
    <script src="/public/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/qrcode/qrcode.min.js"></script>
    <script src="/public/scripts/printQRCode.js"></script>
</body>

</html>