<h1 class="mx-4"><%- title %></h1>

<div class="card mx-1 mx-md-4">
    <div class="card-body">
        <h5 class="card-title" id="name"></h5>
        <h6 class="card-subtitle mb-2 text-muted">Kısa İsim : <span id="shortName"></span></h6>
        <h6 class="card-subtitle mb-2 text-muted">Ürün Kimliği : <span id="id"></span></h6>
    </div>
</div>

<h5 class="card-title d-block mt-4  mx-4">Görseller</h5>
<div class="card mx-md-4 mx-1">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <input type="file" class="form-control-file" id="fileImage">
                </div>
            </div>
            <div class="col-4">
                <button type="submit" id="imgUpload" class="btn btn-primary">Yükle</button>
            </div>
        </div>
        <div class="row" id="images"></div>
        <div class="row">
            <div class="pswp-gallery pswp-gallery--single-column" id="images2"></div>
        </div>
    </div>
</div>


<button class="btn btn-primary btn-lg sbf-onay" id="btnEdit"><i class="fa-solid fa-pencil"></i></button>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Kısa İsim</label>
                    <input type="text" class="form-control" id="shortName">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Marka</label>
                    <input type="text" class="form-control" id="brand">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" id="btnSave">Kaydet</button>
            </div>
        </div>
    </div>
</div>