<div class="card">
	<div class="card-body">
		<h4 class="card-title" id="productName"></h4>
		<h6 class="card-subtitle mb-2 text-muted"><b>Nesne Kimliği :</b> <span id="purchaseItemId"></span></h6>
	</div>
</div>

<div class="row mt-4">
	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title font-weight-bold">STOK</h6>
				<div class="row" id="stok"></div>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title font-weight-bold">SATILDI</h6>
				<div class="row" id="satildi"></div>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title font-weight-bold">SEVKE HAZIR</h6>
				<div class="row" id="hazir"></div>
			</div>
		</div>
	</div>
</div>


<div class="card mt-4">
	<div class="card-body">
		<h6 class="card-title">ÖZELLİKLER</h6>
		<div name="propertyValues"></div>
	</div>
</div>