<div class="card m-3">
    <div class="card-body">
        <h2 class="card-title font-weight-bold"><%- title %></h2>
        <select class="form-control mb-2" id="konumDropdown" onchange="changeKonum()">
            <option value="D5">D5</option>
            <option value="D4">D4</option>
            <option value="D3">D3</option>
            <option value="D2">D2</option>
            <option value="D1">D1</option>
            <option value="0" selected>-</option>
        </select>
        <div id="qr-reader" class="w-100"></div>
    </div>
</div>