<div class="row">
    <div class="col-12">
        <input type="date" id="start">
    </div>
</div>
<table class="table">
    <thead>
        <th>MÜŞTERİ</th>
        <th>ÜRÜN</th>
        <th>MİKTAR</th>
        <th>MARKA</th>
        <th>NOT</th>
    </thead>
    <tbody id="SBF"></tbody>
</table>

<button class="btn btn-success btn-lg sbf-onay" id="btnOnay"><i class="fa-solid fa-check"></i></button>