<table class="table">
    <thead>
        <th>NO</th>
        <th>MÜŞTERİ</th>
        <th>ÜRÜN</th>
        <th>MİKTAR</th>
        <th>MARKA</th>
        <th>NOT</th>
    </thead>
    <tbody id="SBF"></tbody>
</table>