<div class="container-fluid text-dark px-1 px-sm-2 px-md-4" id="HtmlForm">
  <div class="row">
    <div class="col-12 d-lg-block col-lg-8">
      <h6><span><img src="/public/images/dipendo.png" id="goDipendo" style="cursor: pointer; width: 20px; height: 20px; margin-top: -6px;"></span><span id="htmlCustomer"></span>
      </h6>
    </div>
    <div class="d-none d-lg-block col-lg-4 mb-2">
      <a class="btn btn-outline-danger float-right" href="#" onclick="window.close()" role="button">
        <i class="fa-solid fa-fw fa-xl fa-xmark"></i>
      </a>
      <button class="btn btn-outline-success float-right mr-2" id="print">
        <i class="fa-solid fa-fw fa-xl fa-print"></i>
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h6 class="mb-2" id="htmlUser"></h6>
      <div class="my-4 row" id="htmlSendDate"></div>
      <h6 class="mb-2" id="htmlSaleCode"></h6>
      <p id="htmlExplanation"></p>
      <button class="btn-sm btn btn-ligth btn-circle position-absolute" style="top: 1rem; right: 1rem;" data-toggle="modal" data-target="#modalLastKontrol">
        <i class="fas fa-ellipsis-vertical"></i>
      </button>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <div class="row h6 fw-bolder">
        <div class="col-6 col-sm-6 col-lg-5">ÜRÜN</div>
        <div class="d-none d-lg-block col-lg-2">KİMLİK</div>
        <div class="d-none d-lg-block col-lg-2">AĞIRLIK</div>
        <div class="col-3 col-sm-3 col-lg-1">MİKTAR</div>
        <div class="col-3 col-sm-3 col-lg-2">İŞLEM</div>
      </div>
      <div id="htmlProducts"></div>
    </div>
  </div>
  <div class="card p-2 mt-2">
    <div class="d-flex flex-row-reverse">
      <button type="button" class="btn btn-outline-success mx-1" onclick="allStatus(3)">Tümünü Gönder</button>
      <button type="button" class="btn btn-outline-info mx-1" onclick="allStatus(2)">Tümünü Hazırla</button>
    </div>
  </div>
</div>

<div class="modal fade" id="modalLastKontrol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sipariş Son Kontrol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Hazırlayan(lar):</label>
            <div class="row">
              <div class="col-6">
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check2" value="Selami Gedik">
                  <label class="form-check-label" for="check2">Selami Gedik</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check3" value="Sezer Aksu">
                  <label class="form-check-label" for="check3">Sezer Aksu</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check4" value="Hüseyin Varol">
                  <label class="form-check-label" for="check4">Hüseyin Varol</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check5" value="Hüseyin Gedik">
                  <label class="form-check-label" for="check5">Hüseyin Gedik</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check6" value="Hüseyin Yılmaz">
                  <label class="form-check-label" for="check6">Hüseyin Yılmaz</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check14" value="Ali Yamak">
                  <label class="form-check-label" for="check14">Ali Yamak</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check7" value="Cem Köksal">
                  <label class="form-check-label" for="check7">Cem Köksal</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check8" value="İlyas Akbulut">
                  <label class="form-check-label" for="check8">İlyas Akbulut</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check9" value="Hamza Balcı">
                  <label class="form-check-label" for="check9">Hamza Balcı</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check10" value="Talip Uzun">
                  <label class="form-check-label" for="check10">Talip Uzun</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check12" value="Ömer Uskan">
                  <label class="form-check-label" for="check12">Ömer Uskan</label>
                </div>
                <div class="form-check my-4">
                  <input class="form-check-input mt-1" type="checkbox" id="check13" value="Kerem Aksu">
                  <label class="form-check-label" for="check13">Kerem Çabuk</label>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="img-container">

          </div>
          <div class="form-group">
            <label for="fileInput">Paket Görüntüsü</label>
            <input type="file" class="form-control-file" id="fileInput" accept=".jpg, .jpeg, .png" multiple>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" onclick="saveLastControl()">Kaydet</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modalSaleDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sipariş Detayı</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6><b>Hazırlayanlar : </b></h6>
        <ol class="list-group" id="listPersons"></ol>
        <div id="imgs"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>